hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}
h1 {
    font-style: oblique;
    font-weight: 100;
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}